* {
    padding: 0;
    margin: 0;
    }
@keyframes rotate {
    100% { transform: rotate(360deg); } 
    }
    
.wrap {
    width: 200px;
    height: 150px;
    outline: 1px solid #000;
    display: inline-block;
    margin: 35px 50px;
    }
.wrap > div {
    width: 200px;
    height: 150px;
    background: rgba(144, 235, 242, 0.5);
    display: inline-block;
    position: relative;
    z-index: 2; /*Расположение в плоскости Z, всегда впереди*/
    animation: rotate 6s linear infinite; /*название, время выполнения, кривая скорости, зацикливание*/
    }
.wrap > div > span {
    position: absolute;
    top:45%;
    width: 100%;
    text-align: center;
    }
.element-1 {
    transform-origin: 50% 50%; /*Точка, от которой/вокруг которой идет трансформация*/ /*Центр, 50% по осям X и Y*/
    }
.element-2 {
    transform-origin: top left; /*Верхний левый угол*/
    }
.element-3 {
    transform-origin: 100% 0%;    /* по центру вверх */
    }
.element-4 {
    transform-origin: 50px 50px; /*50px по осям X и Y */
    }