    @keyframes bouncing{
        0% { left: 50px; bottom: 0; box-shadow: 0 0 5px rgba(0,0,0,0.5);} /*Сдвиг вправо на 50px от изначального положения + размытие тени + прозрачность тени 0.5*/
        50% { left: 150px; bottom: 250px; box-shadow: 0 0 5px rgba(0,0,0,0.5);} /*Сдвиг вправо и вверх на 150 и 250 px от изначального положения + размытие тени + прозрачность тени 0.5*/
        100%{ left: 350px; bottom: 0px; box-shadow: 0 50px 50px rgba(0,0,0,0.1);} /*Сдвиг вправо на 350px от изначального положения + размытие тени и ее сдвиг на 50px + прозрачность тени 0.1*/
    }
    div {
        animation: bouncing 1s cubic-bezier(.1,.25,.1,1) 0s infinite alternate both; /*название анимации + длительность + кривая скорости + задержка + зацикливание + изменение направления + соблюдение keyframes для обоих направлений*/
        background: lightslategrey;
        display: block;
        width: 120px;
        height: 120px;
        text-align: center;
        border-radius: 150px;
        position: relative;
        margin-top: 250px;
    }
    div:before {
        content: "Ball";
        display: inline-block;
        margin-top: 40px;
        color: white;
        font-size: 2rem;
    }